
html,
body {
	
	width:100%;
	height:100%;
	
}

body {

	position:absolute;
	width:100%;
	height:100%;
	margin: 0 auto 0 auto;
	margin-bottom: 100px;
	padding: 0;
	text-align: center;

}

/*header */
#header {
	

 	position: relative;
    left: 0;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: black;
    border: none;

}

/*header dropdown menu*/
#myNavbar > ul > li > ul {
	background-color: white;
	opacity: .85;
}

#header > div > div.navbar-header > button {

	background-color: black;
}

/*header image*/
#navbarImage {	

	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
	margin-top:10px;
	height: 30px;
	border-radius: 5px ;
	object-fit: inherit;

}

#navbarImage:hover {

	opacity: .8;

} 

#navbarImage:active {

	opacity: .5;

}

/*header dropdown menu links*/
#myNavbar > ul > li > ul > li > a {
	
	color: red;

}

/*footer*/
#footer > div {
	margin-top: 100px;
	padding-top:5px;
	text-align: center;
	background-color: black;
	bottom:0;
	left:0;
	height:30px;
	width:100%;
	
}

/*body welcome content*/

#welcomeTitle {

	text-align: center;

}

#body > img {
	
	width:100%;
	object-fit: cover;
	
}

/*images of image gallery */

#imageGallery > div > img {

	object-fit: cover;
	padding-top: 15px;

}

#imageGallery > div:nth-child(2) > img {
	
	object-fit: cover;
	padding-top: 15px;

}

#imageGallery > div:nth-child(3) > img {
	

	object-fit: cover;
	padding-top: 15px;

}

#imageGallery > div:nth-child(4) > img {
	
	object-fit: cover;
	padding-top: 15px;

}

#imageGallery > div:nth-child(5) > img {
	
	object-fit: cover;
	padding-top: 15px;

}

#imageGallery > div:nth-child(6) > img {
	
	object-fit: cover;
	padding-top: 15px;

}







